@page
@model AirportWebRazor.Pages.state.CreateModel
@{
}
<h4 class="text text-right text-info"> ثبت استان</h4>


<div class="row match-height">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-info">
                    <h4 class="card-title" id="basic-layout-round-controls">فرم ثبت</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="px-3">

                    <form class="form" method="post">
                        <div class="form-body">

                            <div class="form-group">
                                <label for="complaintinput1">نام</label>
                                <input type="text" id="complaintinput1" class="form-control round" name="Name">
                            </div>
                        </div>
                        <div class="form-actions">
                            <a asp-page="index" type="button" class="btn btn-danger mr-1">
                                <i class="icon-trash"></i> لغو
                            </a>
                            <button type="submit" class="btn btn-success">
                                <i class="icon-note"></i> ذخیره
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>