@page
@model AirportWebRazor.Pages.Category.IndexModel
@{
}


<h4 class="text text-right text-info">  دسته بندی ها</h4>

 
<section id="grid-option">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست دسته بندی ها</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> نام دسته بندی </th>
                                        <th> تاریخ ثبت</th>
                                        <th> تاریخ آخرین بروز رسانی</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.categories)
                                    {
                                        <tr>
                                            <td>@item.CategoryName</td>
                                            <td>@item.DateCreate</td>
                                            <td>@item.LastUpdate</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



