@page
@model AirportWebRazor.Pages.GalleryImage.IndexModel
@{
}
<br />

<h1 class="text-center text-info"> لیست عکسهای گالری</h1>

<div class="row justify-content-end">
    <div class="col-2">
        <a href="Create?ids=@ViewData["id"]" class="btn btn-info form-control text-white">ثبت عکس جدید</a>
    </div>

</div>
<form method="post" id="grid-option">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست عکس ها</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> تصویر </th>
                                        <th> تاریخ ثبت</th>
                                        <th> تاریخ آخرین بروز رسانی</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in Model.galleryImages)
                                        {
                                            <tr>
                                                <td>
                                                    <img src="@item.Url" width="70" height="50" />
                                                </td>
                                                <td>@item.DateCreate</td>
                                                <td>@item.LastUpdate</td>
                                                <td>
                                                    <button type="submit" onclick="return confirm('آیا اطمینان دارید')" class="btn btn-danger btn-sm" value="@item.Id" name="id">حذف</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
