<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Titel</title>
    <!--New Font awesome js link for Icons MOSTAFA 18/12/1399-->
    <script src="https://kit.fontawesome.com/bb3aa7db84.js" crossorigin="anonymous"></script>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/Content/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="/Content/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/app.css">
    <link href="/Content/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="/Content/css/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />
    <link href="/Content/css/js-persian-cal.css" rel="stylesheet" />
    <link rel="icon" href="/Content/favicon.ico" />
    <!-- BEGIN VENDOR JS-->

    <script type="text/javascript" src="~/Content/vendors/js/core/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/imoViewer-min.js"></script>
    <script type="text/javascript" src="~/Content/js/persian-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/js/core/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/js/core/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/Content/vendors/js/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/js/prism.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/js/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/js/screenfull.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/js/pace/pace.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script type="text/javascript" src="~/Content/vendors/js/datatable/datatables.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN CONVEX JS-->
    <script type="text/javascript" src="~/Content/js/app-sidebar.js"></script>
    <script type="text/javascript" src="~/Content/js/notification-sidebar.js"></script>
    <script type="text/javascript" src="~/Content/js/customizer.js"></script>
    <!-- END CONVEX JS-->
    <script type="text/javascript" src="~/Content/js/chartist.js"></script>
    <!-- BEGIN PAGE LEVEL JS-->
    <script type="text/javascript" src="~/Content/js/data-tables/datatables-sources.js"></script>
    <!-- END PAGE LEVEL JS-->
    <script type="text/javascript" src="~/Content/js/Persiancalender/jalaali.js"></script>
    <script type="text/javascript" src="~/Content/js/Persiancalender/jquery.Bootstrap-PersianDateTimePicker.js"></script>
    <script type="text/javascript" src="~/Content/js/Persiancalender/js-persian-cal.min.js"></script>
    <!--Showing Image in Input Type File-->
    <script>
        function showMyImage(fileInput) {
            var files = fileInput.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var imageType = /image.*/;
                if (!file.type.match(imageType)) {
                    continue;
                }
                var img = document.getElementById("thumbnil");
                img.file = file;
                var reader = new FileReader();
                reader.onload = (function (aImg) {
                    return function (e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
            }
        }
        $(function () {
            $('#overlay').modal('show');

            setTimeout(function () {
                $('#overlay').modal('hide');
            }, 400);
        });
    </script>
</head>
<body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">
        <div data-active-color="white" data-background-color="sublime-vivid" data-image="../../Content/img/sidebar-bg/Logo2.jpg" class="app-sidebar">
            <div class="sidebar-header">
                <div class="logo clearfix">
                    <a href="#" class="logo-text float-right">
                        <div class="logo-img"><img src="~/Content/Asset 1@4x.png" alt="125" /></div><span class="text align-middle">جیمبو</span>
                    </a><a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i data-toggle="expanded" class="ft-disc toggle-icon"></i></a><a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-circle"></i></a>
                </div>
            </div>
            <div class="sidebar-content">
                <div class="nav-container">
                    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                        <li class="nav-item">
                            <a href="/"><i class="icon-home"></i><span data-i18n="" class="menu-title">صفحه اصلی</span></a>
                        </li>
                        <li class="has-sub nav-item">
                            <a><i class="fas fa-plane-departure"></i><span data-i18n="" class="menu-title">خطوط هوایی</span></a>
                            <ul class="menu-content">
                                <li>
                                    <a href="/AirLine/index" class="menu-item"><i class="fas fa-plane-departure"></i> خطوط هوایی</a>
                                </li>
                                <li>
                                    <a href="/airplane/Index" class="menu-item"><i class="fas fa-plane"></i>هواپیما ها</a>
                                </li>
                                <li>
                                    <a href="/Brand/Index" class="menu-item"><i class="far fa-copyright"></i>ثبت برند هواپیما</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub nav-item">
                            <a><i class="fab fa-fly"></i><span data-i18n="" class="menu-title">پروازها</span></a>
                            <ul class="menu-content">
                                <li>
                                    <a href="/Flyght" class="menu-item"><i class="fab fa-fly"></i> پروازها</a>
                                </li>
                                <li>
                                    <a href="/Flyght" class="menu-item"><i class="fas fa-info"></i>اطلاعات پرواز</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub nav-item">
                            <a><i class="fas fa-plane-departure"></i><span data-i18n="" class="menu-title">فرودگاه ها</span></a>
                            <ul class="menu-content">
                                <li>
                                    <a href="/Airport/index" class="menu-item"><i class="fas fa-plane-departure"></i> فرودگاه ها</a>
                                </li>
                                <li>
                                    <a href="/state/index" class="menu-item"><i class="far fa-flag"></i>استان</a>
                                </li>
                                <li>
                                    <a href="/City/index" class="menu-item"><i class="far fa-building"></i>شهر</a>
                                </li>
                                <li>
                                    <a href="#" class="menu-item"><i class="fas fa-poo-storm"></i>آب و هوا</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub nav-item">
                            <a><i class="fas fa-gamepad"></i><span data-i18n="" class="menu-title">سرگرمی</span></a>
                            <ul class="menu-content">
                                <li>
                                    <a href="/Entertainment/Book/BookList" class="menu-item"><i class="fas fa-atlas"></i>کتاب</a>
                                </li>
                                <li>
                                    <a href="/Entertainment/video/index" class="menu-item"><i class="fas fa-video"></i>ویدیو</a>
                                </li>
                                <li>
                                    <a href="/Entertainment/Magazain" class="menu-item"><i class="far fa-newspaper"></i>مجله</a>
                                </li>
                                <li>
                                    <a href="/Entertainment/Aviation" class="menu-item"><i class="fab fa-aviato"></i>هوانوردی</a>
                                </li>
                                <li>
                                    <a href="/Article/Index" class="menu-item"><i class="icon-wrench"></i>مقالات</a>
                                </li>
                                <li>
                                    <a href="/Padcast/Index" class="menu-item"><i class="fas fa-microphone-alt"></i>پادکست</a>
                                </li>

                            </ul>
                        </li>
                        <li class="has-sub nav-item">
                            <a><i class="fas fa-briefcase"></i><span data-i18n="" class="menu-title">خدمات</span></a>
                            <ul class="menu-content">
                                <li>
                                    <a href="/Services/Animal/Index" class="menu-item"><i class="fas fa-dog"></i>حیوانات</a>
                                </li>
                                <li>
                                    <a href="/Services/Cargo/index" class="menu-item"><i class="fas fa-truck-moving"></i>باربری</a>
                                </li>
                                <li>
                                    <a href="/Services/Clearance/index" class="menu-item"><i class="fas fa-truck-loading"></i>ترخیص کالا</a>
                                </li>
                                <li>
                                    <a href="/Faq/Index" class="menu-item"><i class="fas fa-question"></i>سوالات متداول</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub nav-item">
                            <a><i class="fas fa-user-md"></i><span data-i18n="" class="menu-title">سایر خدمات </span></a>
                            <ul class="menu-content">
                                <li>
                                    <a href="/Applications/index" class="menu-item"><i class="fa fa-gears"></i>نرم افزار های ما</a>
                                </li>
                                <li>
                                    <a href="/Tutorial/index" class="menu-item"><i class="icon-wrench"></i>آموزش</a>
                                </li>
                                <li>
                                    <a href="/institute/Index" class="menu-item"><i class="fas fa-university"></i>آموزشگاه ها</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Advertizment"><i class="fas fa-ad"></i><span data-i18n="" class="menu-title">درخواست تبلیغات</span></a>
                        </li>
                        <li class="has-sub nav-item">
                            <a><i class="fas fa-map-marked-alt"></i><span data-i18n="" class="menu-title">مکان ها</span></a>
                            <ul class="menu-content">
                                <li class="nav-item">
                                    <a href="/Places/Hotel/index"><i class="fas fa-hotel"></i><span data-i18n="" class="menu-title">هتل</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Places/Restaurant/index"><i class="fas fa-utensils"></i><span data-i18n="" class="menu-title">رستوران</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Places/Tour/index"><i class="fas fa-torii-gate"></i><span data-i18n="" class="menu-title">تور</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Places/shop/index"><i class="fas fa-shopping-cart"></i><span data-i18n="" class="menu-title">فروشگاه</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Places/Cofeeshop/Index"><i class="fas fa-coffee"></i><span data-i18n="" class="menu-title">کافی شاپ</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#"><i class="fas fa-parking"></i><span data-i18n="" class="menu-title">پارکینگ</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub nav-item">
                            <a><i class="far fa-newspaper"></i><span data-i18n="" class="menu-title">اخبار</span></a>
                            <ul class="menu-content">
                                <li>
                                    <a href="/News/index" class="menu-item">اخبار</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub nav-item">
                            <a><i class="icon-settings"></i><span data-i18n="" class="menu-title">تنظیمات</span></a>
                            <ul class="menu-content">
                                <li>
                                    <a href="/Featrue" class="menu-item"><i class="fas fa-info-circle"></i>نوع ویژگی</a>
                                </li>
                                <li>
                                    <a href="/typedetail" class="menu-item"><i class="fas fa-info"></i>نوع جزیات</a>
                                </li>
                                <li>
                                    <a href="/category" class="menu-item"><i class="far fa-object-group"></i>دسته بندی</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Advertizment"><i class="fab fa-glide-g"></i><span data-i18n="" class="menu-title">راهنمای استفاده</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-background"></div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
            <div class="container-fluid">
                <div class="navbar-container" style="margin-right:auto">
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="dropdown nav-item mr-0">
                                <a id="dropdownBasic3" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-user-link dropdown-toggle">
                                    <span class="avatar avatar-online">ss</span>
                                    <p class="d-none">تنظیمات کاربر</p>
                                </a>
                                <div aria-labelledby="dropdownBasic3" class="dropdown-menu dropdown-menu-left">
                                    <div class="arrow_box_right">
                                        <a href="/Account/Detail" class="dropdown-item py-1">
                                            <i class="ft-edit ml-2"></i>
                                            <span>حساب کاربری </span>
                                        </a><a href="/Account/Message" class="dropdown-item py-1"><i class="ft-message-circle ml-2"></i><span>پیام ها</span></a>
                                        <a href="/Account/Chengepasword" class="dropdown-item py-1"><i class="ft-settings ml-2"></i><span>تغییر کلمه عبور</span></a>
                                        <div class="dropdown-divider"></div>
                                        <a href="/Account/Logout" class="dropdown-item"><i class="ft-power ml-2"></i><span>خروج</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>

            <footer class="footer footer-static footer-light">
                <p class="clearfix text-muted text-center px-2">
                    @string.Format("{3}{2}{1}{0}", "copyright © 2021", " می باشد ", "NcodeStudio", "تمامی حقوق این اثر متعلق به تیم برنامه نویسی ") <span><img src="~/Content/logo_Codein.png" width="30" height="40" /></span>
                </p>
            </footer>

        </div>
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
</body>
</html>