@page
@model AirportWebRazor.Pages.Faq.CreateModel
@{
}

<h4 class="text text-info text-right">ثبت سوالات متداول</h4>


<div class="row match-height">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-info">
                    <h4 class="card-title" id="basic-layout-round-controls">فرم ثبت </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="px-3">

                    <form class="form" method="post">
                        <div class="form-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="projectinput5">نوع سوال متداول</label>
                                        <select id="projectinput5" name="FAQType" class="form-control">
                                            <option value="none" selected="" disabled="">انتخاب کنید</option>
                                            <option value="1">حیوانات</option>
                                            <option value="2">باربری</option>
                                            <option value="3">ترخیص کالا</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group col-4">
                                    <label for="complaintinput1">عنوان</label>
                                    <input type="text" id="complaintinput1" class="form-control round" name="title">
                                </div>
                                <div class="form-group col-4">
                                    <label for="complaintinput1">توضیحات</label>
                                    <input type="text" id="complaintinput1" class="form-control round" name="Description">
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <a asp-page="index" type="button" class="btn btn-danger mr-1">
                                <i class="icon-trash"></i> لغو
                            </a>
                            <button type="submit" class="btn btn-success">
                                <i class="icon-note"></i> ذخیره
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>