<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@ViewData["Title"] - AirPortWeb</title>
    <partial name="_Styles" />
</head>
<body data-col="2-columns" class=" 2-columns ">
    @RenderBody()
    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
