<title> زپ | @ViewData["Title"]</title>
<link rel="shortcut icon" type="image/png" href="~/Content/img/zapLogp.png">
<link rel="stylesheet" type="text/css" href="~/Content/fonts/feather/style.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/fonts/simple-line-icons/style.css">
<link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/perfect-scrollbar.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/prism.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/tables/datatable/datatables.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/app.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/Custome.css">