@page
@model AirportWebRazor.Pages.DitailValue.IndexModel
@{
}
<br />
<br />
<h1 class="text text-info text-center"> مقدار جزیات</h1>
<div class="row">
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">ثبت ویژگی جدید</a>
    </div>
</div>



<section id="grid-option">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست مقدار جزیات</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> مقدار جزیات </th>
                                        <th> تاریخ ثبت</th>
                                        <th> تاریخ آخرین بروز رسانی</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.detailValues)
                                    {
                                    <tr>
                                        <td>@item.Value</td>
                                        <td>@item.DateCreate</td>
                                        <td>@item.LastUpdate</td>
                                        <td>
                                            <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('ایا اطمینان دارید')" class="btn btn-danger btn-sm">حذف</button>
                                            <a class="btn btn-success btn-sm text-white">به روز رسانی</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>